<!DOCTYPE html>
<html>
<head>
  <title>Scribbles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container-fluid'>     
    <div class="row-fluid">
      <div class="span8 offset2">


        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <%= link_to "Scribbles", root_path, class: "brand" %>
              <li>
                <%= link_to t(:universes), universes_path %>
              </li>
              <li>
                <%= link_to t(:stories), stories_path %>
              </li>
              <li>
                <%= link_to t(:drabbles), @drabbles %>
              </li>
              <li>
                <%= link_to t(:characters), @characters %>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </div>

    <div class="row-fluid">

      <div class="span2">
      </div>

      <div class="span8">
        <%= yield %>
      </div>

    </div>

  </body>
  </html>
